.mat-cell{
    font-size: 9pt;
  }
  
  .margin-center-card{
    padding: 24px !important;
}
mat-label{
  font-weight: bold !important;
}


  .tamannioFiltro{
    width: 30% !important;
  }
  .md\:text-5xl{
  
    font-size: 1.25rem !important;
  }

  table { width: 100%; table-layout: fixed;} 
 
  .width75{
    width: 75% !important;
  }


  .buttonCrearConsumible{
    margin-top: -6.5rem !important;
  }

