<!--
  jornada-intervencion.component.html
  Vista para la consulta de jornadas de intervención.
  Muestra una tabla con los datos de la jornada, permite ordenar y filtrar.
-->

<!-- Barra de carga global -->
<fuse-loading-bar *ngIf="isLoading"></fuse-loading-bar>

<!-- Contenedor principal con menú lateral -->
<mat-sidenav-container>
    <!-- Router outlet para rutas hijas (si aplica) -->
    <router-outlet *ngIf="true"></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido principal centrado -->
        <div class="main-container flex flex-col justify-center items-center w-screen h-3/5 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white">
            
            <!-- Cabecera de la página -->
            <div class="header-container flex justify-between mb-10 text-7xl ">
                <span>Consulta Jornada</span>
                <div class="icon-container flex flex-col items-center mr-10">
                    <!-- Icono representativo -->
                    <mat-icon class="head-icon icon-size-10 icon-bdv-icon-usdbill-l opacity-40 pt-5"></mat-icon>
                    <span class="text-head mt-8">Intervención</span>
                </div>
            </div>

            <!-- Tarjeta principal -->
            <div class="flex flex-col p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col flex-auto p-6 pt-2 bg-card shadow rounded-2xl overflow-hidden">
                    
                    <!-- Tabla de resultados -->
                    <div class="results-table flex flex-col  mt-2 overflow-x-auto ">
                        
                        <!-- Botón de salida -->
                        <div class="buttons-table flex items-end justify-end">
                            <div class="action-buttons font-medium mb-5">
                                <button class="button mat-raised-button mr-3 w-26" (click)="inicio()">
                                    Salir
                                </button>
                            </div>
                        </div>

                        <!-- Tabla de datos de la jornada -->
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSourceH" matSort>
                                <!-- Columnas de la tabla -->
                                
                                <!-- Tipo Intervención -->
                                <ng-container matColumnDef="tipoIntervencion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Tipo de Intervención
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.tipoIntervencion.nombreTipoIntervencion }}
                                    </td>
                                </ng-container>

                                <!-- Código Jornada -->
                                <ng-container matColumnDef="coVentaBCV">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Código Jornada
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.coVentaBCV }}
                                    </td>
                                </ng-container>

                                <!-- Fecha Inicio -->
                                <ng-container matColumnDef="fechaInicio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Fecha Inicio
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.fechaInicio }}
                                    </td>
                                </ng-container>

                                <!-- Fecha Fin -->
                                <ng-container matColumnDef="fechaFin">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Fecha Fin
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.fechaFin }}
                                    </td>
                                </ng-container>

                                <!-- Fecha Valor -->
                                <ng-container matColumnDef="fechaValor">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Fecha Valor
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.tipoCambioIntervencion[0].fechaValor }}
                                    </td>
                                </ng-container>

                                <!-- Tasa Cambio -->
                                <ng-container matColumnDef="tipoCambio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Tasa Cambio
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.tipoCambioIntervencion[0].tipoCambio }}
                                    </td>
                                </ng-container>

                                <!-- Moneda -->
                                <ng-container matColumnDef="coMonedaIso">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Moneda
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.codigoIsoDivisa.coMonedaIso }}
                                    </td>
                                </ng-container>

                                <!-- Saldo Disponible -->
                                <ng-container matColumnDef="saldoDisponible">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell w-26">
                                        Saldo Disponible
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ row.saldoDisponible }}
                                    </td>
                                </ng-container>

                                <!-- Semana -->
                                <ng-container matColumnDef="semana">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                                        Semana
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="table-cell">
                                        {{ getWeekOfMonth(row.fechaInicio) }}
                                    </td>
                                </ng-container>

                                <!-- Filas de encabezado y datos -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                                <!-- Mensaje cuando no hay datos -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="9">
                                        No existen intervenciones activas
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>