<!-- Loading Bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- <main-layouts></main-layouts> -->
<mat-sidenav-container>
    <router-outlet *ngIf="true"></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido -->
        <div class="consultaInter-container-MesaCambio">
            <div class="consultaInter-MesaCambio-header-content">
                <span>Consulta Intercambio</span>
                <mat-icon class="icon-size-10 icon-bdv-icon-bs-l head-icon-mesa"></mat-icon>
            </div>
            <mat-card class="card-container-consultaInter-MesaCambio">
                <div class="title-consultaInter-MesaCambio">
                    <span>Seleccione Criterios de Búsqueda</span>
                </div>
                <!-- Carga Form -->
                <form class="card-form-consultaInter-MesaCambio" #operacionesForm="ngForm" [formGroup]="consultaIntercambioMesaCambioForm">

                    <div class="field-container">
                        <!-- file  -->
                        <div class=" campos-consultaInter-MesaCambio">
                        <mat-form-field class="w-full field-oper tipo-documento" appearance="outline">
                            <mat-label>Movimiento</mat-label>
                            <mat-select class="agua">
                                <mat-option class="agua"value="null">Seleccione</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full field-oper" appearance="outline">
                            <mat-label>Estatus</mat-label>
                            <mat-select class="agua">
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>

                        </div>

                        <div class=" campos-consultaInter-MesaCambio">

                        <mat-form-field class="w-full field-oper" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" readonly>
                            <mat-icon (click)="picker.open()" class="icon-bdv-icon-scheduledit-m date-icon"></mat-icon>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        </div>
                    </div>
                </form>

                <div class="buttons-oper">
                    <div class="button-container2-oper">
                        <button class="mat-raised-button" type="submit" form="cargaForm">Procesar</button>
                        <button class="mat-raised-button" type="submit" form="cargaForm">Salir</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>