<!-- Loading Bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- <main-layouts></main-layouts> -->
<mat-sidenav-container>
    <router-outlet *ngIf="true"></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido -->
        <div class="operacionesIntervencion-container-cambioClave">
            <div class="menudeo-header-content-cambioClave">
                <span>Cambio de Clave</span>
                <mat-icon class="icon-size-10 icon-bdv-icon-usd-l head-icon-intervencion-cambioClave"></mat-icon>
            </div>
            <mat-card class="card-container-menudeo-cambioClave">
                <div class="title-menudeo-cambioClave">
                    <span>Clave de Intervencion</span>
                </div>
                <!-- Carga Form -->
                <form class="card-form-menudeo-cambioClave" #operacionesForm="ngForm" [formGroup]="cambioClaveeMenudeoForm">

                    <div class="field-container-intervencion-cambioClave">
                        <!-- file  -->


                <mat-form-field class="w-full field-menudeo-cambioClave" appearance="outline">
                    <mat-label>Clave Actual</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="w-full field-menudeo-cambioClave" appearance="outline">
                    <mat-label>Clave Nueva</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="w-full field-menudeo-cambioClave" appearance="outline">
                    <mat-label>Confirmar Clave</mat-label>
                    <input matInput>
                </mat-form-field>

            


                       

                        


            </div>
    </form>

                <div class="buttons-menudeo-cambioClave">
                    <div class="button-container2-menudeo-cambioClave">
                        <button class="mat-raised-button" type="submit" form="cargaForm">Actualizar</button>
                        <button class="mat-raised-button" type="submit" form="cargaForm" (click)="menuPrincipal()">Salir</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
