<h2 mat-dialog-title class="title-center">Detalle de la solicitud</h2>
<form [formGroup]="solFormulario"  > 

     
    <mat-dialog-content class="mat-typography">
        <div class="grid grid-cols-8  gap-3  text-center "   >
       

                <div class="col-start-3 col-end-7  ">
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Seleccione Tipo de solicitud</mat-label>
                        <mat-select class="inputMat" id="selectTsol" formControlName="idTipoSolicitud" required  #buySellSelect="matSelect" readonly >  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="ListTipoSolicitudFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                              </mat-option>
                          <mat-option *ngFor="let ListTipoSolicitud of filtroListTipoSolicitud | async" [value]="ListTipoSolicitud.id" >  <!--  -->
                             {{ListTipoSolicitud.name}}
                            </mat-option>
                         </mat-select>
                         <mat-error *ngIf="solFormulario.get('idTipoSolicitud')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>  
                    </mat-form-field>
                </div>

            </div>

   
        <div  class="grid grid-cols-3 gap-4">
                <div class="col-span-2">
                    <mat-form-field appearance="fill" class="width100">
                        <mat-label>Detalle de la solicitud</mat-label>
                        <input matInput formControlName="nombre" required> 
                        <mat-error *ngIf="solFormulario.get('nombre')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error> 
                    </mat-form-field>  

                </div>

      

                <mat-form-field appearance="fill" class="width100">
                    <mat-label>Requiere aprobación</mat-label>
                    <mat-select class="inputMat" formControlName="requiereAprobacion"   #buySellSelect="matSelect" required > 
                      <mat-option  value="SI">SI</mat-option>
                        <mat-option  value="NO">NO</mat-option>
                     </mat-select>
                     <mat-error *ngIf="solFormulario.get('requiereAprobacion')?.hasError">
                        Campo <strong>Obligatorio</strong>
                    </mat-error> 
                </mat-form-field>  

                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Tiempos  de respuestas</mat-label>
                            <input matInput formControlName="tiempoRespuestaNum" type="text" ng-pattern="/^[0-9]/" maxlength="3" max="366" required> 
                             <mat-error *ngIf="solFormulario.get('tiempoRespuestaNum')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error> 
                        </mat-form-field> 

                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Tipo(hora/dias/semana)</mat-label>
                            <input matInput formControlName="tiempoRespuesta" required> 
                             <mat-error *ngIf="solFormulario.get('tiempoRespuesta')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error> 
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Estatus</mat-label>
                            <mat-select class="inputMat" formControlName="estatus"   #buySellSelect="matSelect" required > 
                                <mat-option  value="A">A</mat-option>
                                  <mat-option  value="I">I</mat-option>
                               </mat-select>
                             <mat-error *ngIf="solFormulario.get('estatus')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error> 
                        </mat-form-field>
                    
                             

                    </div>


 




           
     
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
    
        <button type="button" mat-raised-button color="primary" cdkFocusInitial   type="submit"  *ngIf="isShowCrear" (click)="guardar('c')"  >Crear</button>
        <button type="button" mat-raised-button color="primary" cdkFocusInitial   type="submit"   *ngIf="isShowEditar" (click)="guardar('e')"  >Editar</button>
    
      </mat-dialog-actions>  
</form>
