/* ==========================================================================
   Estilos generales del componente Cambio de Clave de Intervención
   ========================================================================== */

/* ==========================================================================
   Cabecera de la página
   ========================================================================== */
.header-container {
    color: #e89600;
    width: 50%;
}

/* Icono principal de la cabecera */
.head-icon::before {
    color: #e89600;
    font-size: 2.9em;
}

/* Texto debajo del icono en la cabecera */
.text-head {
    color: #e89600;
    font-size: 0.4em;
    opacity: 0.4;
}

/* ==========================================================================
   Tarjeta principal y formulario de criterios
   ========================================================================== */
.card-container {
    width: 650px;
    height: 480px;
    color: #e89600;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%) !important;
}

/* Título de la tarjeta */
.card-title {
    color: #e89600;
    font-size: 1.3em; // Tamaño de fuente del título
}

/* ==========================================================================
   Personalización de campos Angular Material (colores de borde, caret y etiqueta)
   ========================================================================== */
.field-form {

    /* Icono de ojo para mostrar/ocultar contraseña */
    .eye-icon::before {
        color: grey; // Color del icono del ojo
    }

    /* Estilo para el input y el cursor (caret) */
    input {
        caret-color: #e89600; // Caret amarillo por defecto
    }

    // Cambia el caret a rojo cuando el campo es inválido
    ::ng-deep &.mat-form-field-invalid input {
        caret-color: #eb3333 !important;
    }

    /* Amarillo cuando está enfocado o válido */
    ::ng-deep &.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-valid .mat-form-field-outline-thick {
        color: #e89600 !important;
    }

    ::ng-deep &.mat-form-field-appearance-outline.mat-focused .mat-form-field-label,
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-valid .mat-form-field-label {
        color: #e89600 !important;
    }

    /* Rojo cuando es inválido */
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick,
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-label {
        color: #eb3333 !important; // Color para error
    }
}

/* ==========================================================================
   Botones de acción principales
   ========================================================================== */
.action-buttons {
    .mat-raised-button {
        color: #e89600 !important;
        font-weight: 500;
        width: 100px;

        &:hover {
            background-color: #e89600;
            color: white !important;
        }
    }
}