/* ==========================================================================
   Estilos generales del componente Interbancario Intervención
   ========================================================================== */

/* ==========================================================================
   Cabecera de la página
   ========================================================================== */
.header-container {
    color: #e89600;         // Color corporativo para la cabecera
    width: 50%;             // Ancho de la cabecera
}

/* Icono principal de la cabecera */
.head-icon::before {
    color: #e89600;
    font-size: 2.9em;
}

/* Texto debajo del icono en la cabecera */
.text-head {
    color: #e89600;
    font-size: 0.4em;
    opacity: 0.4;
}

/* ==========================================================================
   Tarjeta principal y formulario de criterios
   ========================================================================== */
.card-container {
    width: 650px;
    height: 480px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%) !important;
}

/* Título de la tarjeta */
.card-title {
    color: #e89600;
    font-size: 1.3em; // Tamaño de fuente del título
}

/* ==========================================================================
   Personalización de campos Angular Material en el formulario de consulta
   ========================================================================== */
.field-form {
    /* Icono de calendario */
    .date-icon-inter-interbancario:before {
        color: grey;
    }
    .date-icon-inter-interbancario:hover {
        cursor: pointer;
    }
    mat-icon {
        padding: 9px 7px 0px 0px !important;
        justify-content: end;
        width: 25%;
    }

    /* Ajustes de campos de formulario */
    ::ng-deep .mat-form-field-infix {
        display: flex !important;
        padding: 0 !important;
        width: 220px !important;
    }
    ::ng-deep input.mat-input-element {
        margin: 0.7em 0em 0.9em 0em;
        color: #1e293b;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    /* Colores para campos válidos y enfocados */
    ::ng-deep &.mat-form-field-valid.mat-form-field-valid {
        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #e89600 !important;
        }
    }
    ::ng-deep &.mat-focused {
        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #e89600 !important;
        }
    }

    /* Ajustes para el select de Angular Material */
    ::ng-deep .mat-select {
        .mat-select-trigger {
            display: inline-flex;
            align-items: center;
            width: 100%;
            height: 35px !important;
        }
    }
    ::ng-deep .mat-form-field-flex {
        height: 53px;
    }
}

/* ==========================================================================
   Personalización de Angular Material fuera del formulario
   ========================================================================== */

/* Color de opción seleccionada en select */
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #3f4853 !important;
}

/* Bordes redondeados para el panel de select */
::ng-deep .mat-select-panel {
    border-radius: 15px !important;
}

/* Estilo para el día seleccionado en el calendario Angular Material */
::ng-deep .mat-calendar-body-selected {
    background-color: rgba(126, 126, 126, 0.651) !important;
    // color: var(--fuse-on-primary);
}

/* ==========================================================================
   Botones de acción principales
   ========================================================================== */
.buttons-container .mat-raised-button {
    color: #e89600 !important; // Color corporativo por defecto
    font-weight: 500;
    &:hover {
        background-color: #e89600; // Fondo corporativo al pasar el mouse
        color: white !important;   // Texto blanco al pasar el mouse
    }
}


/* ==========================================================================
   Media queries para pantallas pequeñas (tablets y laptops)
   ========================================================================== */

/* Ajustes generales para pantallas <= 1024px */
@media (max-width: 1400px) {

    /* ==========================================================================
   Cabecera de la página
   ========================================================================== */
    .header-container {
        font-size: 2.6em !important;
        width: 50vw !important;
    }

    /* Icono principal de la cabecera */
    .head-icon::before {
        font-size: 2.3em;
    }

    /* Texto debajo del icono en la cabecera */
    .text-head {
        font-size: 0.4em;
    }

    /* ==========================================================================
   Contenedor principal de la tarjeta
   ========================================================================== */
    .card-container {
       width: 506px;
        height: 375px;
        margin-bottom: 70px;
    }



    /* Título de la tarjeta */
    .card-title {
        font-size: 1.0em;
    }

    /* ==========================================================================
   Estilos para los campos de formulario
   ========================================================================== */

    .field-form {
    ::ng-deep {
        .mat-form-field-infix {
            font-size: 0.76rem !important;
            width: 160px !important;

        }

        .mat-form-field-flex {
            height: 46px !important ;
        }
    }   
    .date-icon-inter-interbancario:before {
       font-size: 0.8em;
    }

}

    /* ==========================================================================
   Botones de acción
   ========================================================================== */
    .buttons-container { 
        .mat-raised-button {
            // width: 40% !important;
            font-size: 0.7rem;
        }
    }

}