<h2 mat-dialog-title class="title-center">Detalle de la solicitud</h2>
<form [formGroup]="solFormulario"  > 
    <input matInput formControlName="id" hidden>   
    <input matInput formControlName="evento" hidden> 
     
    <mat-dialog-content class="mat-typography">
        <div class="grid grid-cols-8  gap-3  text-center "   >
       

                <div class="col-start-3 col-end-7  ">
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Seleccione Tipo de solicitud</mat-label>
                        <mat-select class="inputMat" id="selectTsol" formControlName="idTipoSolicitud" required  #buySellSelect="matSelect" (ngModelChange)="mostrarInput()" >  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="ListTipoSolicitudFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                              </mat-option>
                          <mat-option *ngFor="let ListTipoSolicitud of filtroListTipoSolicitud | async" [value]="ListTipoSolicitud.id" >  <!--  -->
                             {{ListTipoSolicitud.name}}
                            </mat-option>
                         </mat-select>
                         <mat-error *ngIf="solFormulario.get('idTipoSolicitud')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>  
                    </mat-form-field>
                </div>

            </div>

   
        <div  class="grid grid-cols-3 gap-4">
            <div  class="col-span-2">
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Descripción de artículo</mat-label>
                        <mat-select class="inputMat"  formControlName="idDetalleSol"  id="selectDescrTsol"  #buySellSelect="matSelect"   (ngModelChange)="mostrar()">  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="detalleSolicitudFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let detalleSolicitud of filtrodetalleSolicitud | async" [value]="detalleSolicitud.id" >  <!--  -->
                            {{detalleSolicitud.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="solFormulario.get('idDetalleSol')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>             
                    </mat-form-field>
            </div>
           
                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Tiempos  de respuestas</mat-label>
                            <input matInput formControlName="tiempoRespuesta" readonly> 
                             <mat-error *ngIf="solFormulario.get('tiempoRespuesta')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error> 
                        </mat-form-field>  
                    
                    

                        <div  class="col-span-3">
                    <mat-form-field  appearance="fill"class="width100 "  style="width: 100%;">
                        <mat-label>Observación</mat-label>
                        <textarea matInput placeholder="" formControlName="observacion"  required></textarea>
                        <mat-error *ngIf="solFormulario.get('observacion')?.hasError">
                          Campo <strong>Obligatorio</strong>
                      </mat-error>    
                    
                      </mat-form-field>
            
                        </div>

                         
                        <div class="col-span-3 text-center"   *ngIf="isShowPersonal" >

                            <mat-form-field appearance="fill" style="width: 50%;" >
                              <mat-label>Seleccione Personal a cargo</mat-label>
                              <mat-select class="inputMat"  [formControl]="personalGroupsCtrl" multiple  required  #buySellSelect="matSelect"    > 
                              <mat-option>
                                <ngx-mat-select-search [formControl]="personalGroupsFilterCtrl"
                                 [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'">
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                  [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                                </mat-option>
                              <mat-optgroup *ngFor="let group of filteredPersonalGroups | async" [label]="group.name">
                                <mat-option *ngFor="let personal of group.personals" [value]="personal">
                                  {{personal.name}}
                                </mat-option>
                              </mat-optgroup>  
                       
                               </mat-select>
                
                              <mat-error *ngIf="personalGroupsCtrl.hasError('required')">
                                Campo <strong>Obligatorio</strong>
                            </mat-error> 
                            <mat-hint>{{personalGroupsCtrl.value?.sound}}</mat-hint>  
                            </mat-form-field>
                
                          </div>
                          <div  class="col-span-3" *ngIf="isShowPersonal">
                            <mat-form-field  appearance="fill"class="width100 "  style="width: 100%;">
                                <mat-label>Observación del área</mat-label>
                                <textarea matInput placeholder="" [formControl]="observacionArea"  required></textarea>
                            
                                <mat-error *ngIf="observacionArea.hasError('required')">
                                  Campo <strong>Obligatorio</strong>
                              </mat-error> 
                              <mat-hint>{{observacionArea.value?.sound}}</mat-hint> 
                            
                              </mat-form-field>
                    
                                </div>

     

                          

                    </div>


 




           
     
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
    
        <button type="button" mat-raised-button color="primary" cdkFocusInitial   type="submit"  (click)="asignar()"  >Asignar</button>
    
      </mat-dialog-actions>  
</form>
