
* {
    font-family: 'Nunito', sans-serif !important;
}

.operacionesMenudeo-container-consultaBCV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.operaMenudeo-header-content-consultaBCV {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #004a72;
    font-size: 3.6em;
}

.head-icon-Menudeo-consultaBCV::before {
    color: #004a72;
    font-size: 2.7em;
    opacity: 40%;
    padding-top: 25px;
}

.card-container-operaMenudeo-consultaBCV    {
    width: 650px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #004a72;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%);
}


.title-operaMenudeo-consultaBCV {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.3em;
}


.card-form-operaMenudeo-consultaBCV {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field-container-Menudeo-consultaBCV {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 23px;
}

.card-form-operaMenudeo-consultaBCV .mat-form-field {
    // flex: 1;
    margin-right: 0px;

}

.campos-operaMenudeo-consultaBCV .tipoDocumentoMenudeo {
    margin-right: 0 !important;
}

.cedula-Menudeo-consultaBCV {
    display: flex;
}

.campos-operaMenudeo-consultaBCV {
    display: flex;
    gap: 50px;
    width: 245px;
}

.campos-operaMenudeo-consultaBCV .tipoDocumentoMenudeo {
    .mat-form-field-flex {
        padding: 0 5px 0 6px !important;
    }
}

.tipoDocumentoMenudeo-consultaBCV .mat-select-value {
    padding-left: 25px;
}

.campos-operaMenudeo-consultaBCV .tipoDocumentoMenudeo {
    .mat-form-field-label {
        width: 30px;
    }
}

.input-cedula-Menudeo-consultaBCV .mat-form-field-wrapper {
    width: 165px;
}

.input-cedula-Menudeo-consultaBCV {
    color: #1e293b;

    &.mat-focused {

        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #004a72 !important;
        }
    }
}


.campos-operaMenudeo-consultaBCV .documentoMenudeo {
    width: 80px;
    /* Ancho fijo para el select */
}


.date-icon-Menudeo-consultaBCV:before {
    color: grey;
}

.date-icon-Menudeo-consultaBCV:hover {
    cursor: pointer;
}


.field-operMenudeo-consultaBCV .mat-form-field-infix {
    display: flex !important;
    padding: 0 !important;
    width: 220px !important;
}

.field-operMenudeo-consultaBCV mat-icon {
    padding: 9px 7px 0px 0px !important;
    justify-content: end;
    width: 25%;
}

.field-operMenudeo-consultaBCV .mat-form-field-flex {
    padding: 0 5px 0 20px !important;
    margin-top: -0.25em !important;
    position: relative !important;
    opacity: 5 !important;
}

.field-operMenudeo-consultaBCV mat-hint {
    padding-left: 60px !important;
    padding-top: 5px;
    color: #004a72 !important;
    font-size: 1.23em;
    font-weight: 400;
}

.field-operMenudeo-consultaBCV .mat-form-field-flex:hover,
.field-operMenudeo-consultaBCV .mat-form-field-outline-thick {
    opacity: 1 !important;
}

.field-operMenudeo-consultaBCV input.mat-input-element {
    margin: 0.7em 0em 0.9em 0em;
    color: #1e293b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.tipoDocumentoMenudeo-consultaBCV {
    .mat-form-field-wrapper {

        width: 80px !important;
    }
}

.tipoDocumentoMenudeo-consultaBCV .mat-form-field {
    padding-left: 13px !important;
    margin-right: 0px !important;
}


.field-operMenudeo-consultaBCV .mat-form-field.mat-form-field-appearance-outline,
.field-operMenudeo-consultaBCV .mat-form-field-label-wrapper {
    width: 50% !important;
    top: -1px !important;
    left: 1px !important;
}


.field-operMenudeo-consultaBCV {
    &.mat-form-field-invalid.mat-form-field-invalid {
        .mat-form-field-outline-thick {
            color: rgba(48, 48, 48, 0.247) !important;
        }

        .mat-form-field-label {
            color: rgba(48, 48, 48, 0.616) !important;
        }
    }

    &.mat-form-field-valid.mat-form-field-valid {

        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #004a72 !important;
        }
    }

    &.mat-focused {

        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #004a72 !important;
        }
    }
}

.buttons-operMenudeo-consultaBCV {
    display: flex;
    justify-content: center;
    width: 100%;

}

.button-container-operMenudeo-consultaBCV button {
    white-space: normal;
    overflow-wrap: break-word;
    width: 70%;
    padding: 0 20px !important;
    border-radius: 50px !important;
}

.button-container2-operMenudeo-consultaBCV {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    button {
        padding: 0 20px !important;
        border-radius: 50px !important;
        width: 140px;
        // background-color: lightblue;
    }
}

.buttons-operMenudeo-consultaBCV .mat-raised-button {
    color: #004a72 !important;
    font-weight: 500;
}

.button-container-operMenudeo-consultaBCV .mat-raised-button,
.button-container2-operMenudeo-consultaBCV .mat-raised-button {
    transition: background-color 0s, color 0s;
}

.button-container-operMenudeo-consultaBCV .mat-raised-button:hover,
.button-container2-operMenudeo-consultaBCV .mat-raised-button:hover {
    background-color: #004a72;
    color: white !important;
}



.field-operMenudeo-consultaBCV .mat-select {

    .mat-select-trigger {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 35px !important;
    }
}

.field-operMenudeo-consultaBCV { 
 .mat-form-field-flex {
    height: 53px;
}
}

.mat-select-panel {
    border-radius: 15px !important;
}


.mat-calendar-body-selected{
    background-color: rgba(126, 126, 126, 0.651) !important;
    // color: var(--fuse-on-primary);
}


body.light .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #3f4853 !important;
}
