<h2 mat-dialog-title class="title-center"> {{ tituloModal }} </h2>

<form [formGroup]="formularioImpresora"  > 
<mat-dialog-content class="mat-typography">
    <div class="grid grid-cols-12  gap-3  text-center">

        <div class="col-span-4">
            <mat-form-field appearance="fill"class="width100">
                <mat-label>Tipo de impresora</mat-label>
                <mat-select class="inputMat"   formControlName="idTipoImpresoraFk" id="selectTipoImpre"    #buySellSelect="matSelect" >  <!--  -->
                    <mat-option>
                        <ngx-mat-select-search [formControl]="tipoImpresoraFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                        [noEntriesFoundLabel]="'No Encontrado'" >
                        <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                        [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                    </mat-option>
                <mat-option *ngFor="let tipoImpresora of filtrotipoImpresora | async" [value]="tipoImpresora.id" >  <!--  -->
                    {{tipoImpresora.name}}
                    </mat-option>
                </mat-select>
              
            </mat-form-field>
        </div>


            <div class="col-span-4">
                <mat-form-field appearance="fill" class="width100">
                    <mat-label>Descripción del modelo</mat-label>
                    <input matInput type="text"   formControlName="descripcion">
                </mat-form-field>
            </div>            
           

            <div class="col-span-4">
                <mat-form-field appearance="fill" class="width100">
                    <mat-label>Estatus</mat-label>                
                    <mat-select  formControlName="estatus">
                        <mat-option value=""></mat-option>
                         <mat-option value="A"> ACTIVO</mat-option>
                         <mat-option value="I"> INACTIVO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>       
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="accent" (click)="cerrarModal()">Cancelar</button>
    <button type="submit" *ngIf="buttonModificar" mat-raised-button color="primary" cdkFocusInitial (click)="gestionImpresora('M')">Modificar</button>
    <button type="submit" *ngIf="buttonCrear"  mat-raised-button color="primary" cdkFocusInitial (click)="gestionImpresora('C')">Crear</button>

</mat-dialog-actions>
</form>