

    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0 ">
        <div class="inset-0 flex flex-col ">
        <!-- Header -->
        <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6  md:px-8 border-b bg-card dark:bg-transparent">
            <!-- Title -->
            <div>
                <div class="text-4xl font-bold tracking-tight leading-none">Indicadores</div>
                <div class="flex items-center mt-0.5 font-medium text-secondary">
                    
                    <!-- Breadcrumbs -->
                  
                </div>
            </div>
            <!-- Actions -->
            <div class="mt-4 sm:mt-0">
                <span></span>
            </div>
        </div>

        <!-- <div class="w-full max-w-screen-xl mx-auto">
            <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Seleccione el tipo de servicio</div>
                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                   
                </div>
            </div>
        </div> -->
    
        <div >

        
        <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                        
                 <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl  margin-center-card">
                    <form  [formGroup]="solFormulario" >  
                    <!-- <div class="text-lg font-medium tracking-tight leading-6 truncate">Seleccione el tipo de servicio</div> -->
                     <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
           
                        <div  class="grid grid-cols-12 gap-4">

                            <div  class="col-start-3 col-end-7"> 
                            <mat-form-field>
                                <mat-label>Categoría</mat-label> 
                                                            
                                <mat-select class="inputMat"      formControlName="categoria"  #buySellSelect="matSelect" (ngModelChange)="buscarTipoServicio()">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="categoriaFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'No Encontrado'" >
                                        <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                         [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                        </ngx-mat-select-search>
                                      </mat-option> 
                                    <mat-option  *ngFor="let categoria of filtrocategoria | async" [value]="categoria.id">
                                        {{categoria.name}}
                                      </mat-option>
                                
                                </mat-select>
                                <mat-error *ngIf="solFormulario.get('categoria')?.hasError">
                                    Campo <strong>Obligatorio</strong>
                                  </mat-error>
                            </mat-form-field>
                            </div>
                            <div  class="col-start-7 col-end-11"> 
                             <mat-form-field>
                                 <mat-label>Tipo Servicio</mat-label>                                
                                 <mat-select    class="inputMat"  #matRef    formControlName="tiposerv"     #buySellSelect="matSelect"  (ngModelChange)="buscarServicio()">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="tipoServicioFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'No Encontrado'" > <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                        [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                                      </mat-option> 
                                     <mat-option  *ngFor="let tiposervicio of filtrotipoServicio | async" [value]="tiposervicio.id">
                                        {{tiposervicio.name}}
                                      </mat-option>
                                 </mat-select>
                             </mat-form-field>
                            </div> 
                        </div>

                                   
                   

                     </div>
                    </form>

                    <div *ngIf="reporte">
                    
                    <div  class="grid grid-cols-1 sm:grid-cols-4  md:grid-cols-4 gap-6 w-full min-w-0">
                            
                     
                        <div class="flex flex-col flex-auto ">
                     
                        </div>
                           <!--  <div id="chartCategotia">
                            </div> -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate "> Total</div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <mat-icon class="mr-1 icon-size-6 text-blue-500"                                               
                                        [svgIcon]="'heroicons_solid:chart-pie'"></mat-icon>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div class="text-7xl sm:text-8xl  font-bold tracking-tight leading-none text-blue-500">{{cantCategoria}}</div>

                                
                                </div>
                            </div>

                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate "> Total</div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <mat-icon class="mr-1 icon-size-6 text-yellow-500"                                              
                                         [svgIcon]="'heroicons_solid:chart-pie'"></mat-icon>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-yellow-500">{{cantTipoSolicitud}}</div>
                                                              
                                </div>
                            </div>
                       
                        
                        </div>
      <!--                   <div style="text-align:center">
                            <apx-chart
                              [series]="chartOptions.series"
                              [chart]="chartOptions.chart"
                              [xaxis]="chartOptions.xaxis"
                              [title]="chartOptions.title"
                            ></apx-chart>
    
                          </div> -->

                          <div id="chart">
                            <div id="responsive-chart"></div>
                          </div> 
                        </div>
                 
                 </div>
                 
            </div>

            
        </div>

    </div>
        
    

    </div>

</div>
