/* ==========================================================================
   Estilos generales del componente Cambio de Clave de Intervención
   ========================================================================== */

/* ==========================================================================
   Cabecera de la página
   ========================================================================== */
.header-container {
    color: #78ba49;
    width: 50%;
}

/* Icono principal de la cabecera */
.head-icon::before {
    color: #78ba49;
    font-size: 2.2em;
}

/* Texto debajo del icono en la cabecera */
.text-head {
    color: #78ba49;
    font-size: 0.4em;
    opacity: 0.4;
}
/* ==========================================================================
   Tarjeta principal y formulario de criterios
   ========================================================================== */
.card-container {
    width: 650px;
    height: 480px;
    color: #78ba49;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%) !important;
}

/* Título de la tarjeta */
.card-title {
    color: #78ba49;
    font-size: 1.3em; // Tamaño de fuente del título
}

/* ==========================================================================
   Personalización de campos Angular Material (colores de borde, caret y etiqueta)
   ========================================================================== */
.field-form {

    /* Icono de ojo para mostrar/ocultar contraseña */
    .eye-icon::before {
        color: grey; // Color del icono del ojo
    }

    /* Estilo para el input y el cursor (caret) */
    input {
        caret-color: #78ba49; // Caret amarillo por defecto
    }

    // Cambia el caret a rojo cuando el campo es inválido
    ::ng-deep &.mat-form-field-invalid input {
        caret-color: #eb3333 !important;
    }

    /* Amarillo cuando está enfocado o válido */
    ::ng-deep &.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-valid .mat-form-field-outline-thick {
        color: #78ba49 !important;
    }

    ::ng-deep &.mat-form-field-appearance-outline.mat-focused .mat-form-field-label,
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-valid .mat-form-field-label {
        color: #78ba49 !important;
    }

    /* Rojo cuando es inválido */
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick,
    ::ng-deep &.mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-label {
        color: #eb3333 !important; // Color para error
    }
}

/* ==========================================================================
   Botones de acción principales
   ========================================================================== */
.buttons-container .mat-raised-button {
    color: #78ba49; // Color corporativo por defecto
    font-weight: 500;
    &:hover {
        background-color: #78ba49; // Fondo corporativo al pasar el mouse
        color: white ;   // Texto blanco al pasar el mouse
    }
}


/* ==========================================================================
   Media queries para pantallas pequeñas (tablets y laptops)
   ========================================================================== */

/* Ajustes generales para pantallas <= 1024px */
@media (max-width: 1400px) {

    /* ==========================================================================
   Cabecera de la página
   ========================================================================== */
    .header-container {
        font-size: 2.6em !important;
        width: 40vw !important;
    }

    /* Icono principal de la cabecera */
    .head-icon::before {
        font-size: 2.3em;
    }

    /* Texto debajo del icono en la cabecera */
    .text-head {
        font-size: 0.4em;
    }

    /* ==========================================================================
   Contenedor principal de la tarjeta
   ========================================================================== */
    .card-container {
       width: 506px;
        height: 375px;
        margin-bottom: 70px;
    }

    .card-form {
        width: 350px !important;
    }

    /* Título de la tarjeta */
    .card-title {
        font-size: 1.0em;
    }

        .field-form {
    ::ng-deep {
        .mat-form-field-infix {
            font-size: 0.76rem !important;
        }

        .mat-form-field-flex {
            height: 46px !important ;
        }
    }   
}


    .eye-icon::before {
        font-size: 0.8em;
    }


   .icon-bdv-icon-file2-m::before {
        font-size: 0.8em;
    }

    /* ==========================================================================
   Botones de acción
   ========================================================================== */
    .buttons-container { 
        .mat-raised-button {
            font-size: 0.7rem;
        }
    }

}