// @import url("//src/assets/styles/icons-bdv.css");

* {
    font-family: 'Nunito', sans-serif !important;
  }
  
  body {
    background-color: transparent !important;
  }
  
  .carga-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

  .header-content {
    width: 40%; 
    display: flex;
    justify-content: space-between; 
    margin-bottom: 40px; 
    color: #78ba49;
    font-size: 3.6em;
  }
  
  .card-container {
      width: 650px;
      height: 480px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 30px;   
      color: #78ba49 ;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgb(0 0 0 / 26%);
  }
  
  
  .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 1.3em;
  }
  
  
  .head-icon::before {
    color: #78ba49;
    font-size: 2.7em;
    opacity: 40%;
    padding-top: 25px;
  }
  
  .card-form{
    display: flex;
    align-items: center;
  }

  .card-form .mat-form-field {
    flex: 1;
    margin-right: 8px;
  }

  .icon-bdv-icon-file2-m:before {
    color: grey;
}

  .file .mat-form-field-infix {
    display: flex !important;
    padding: 0 !important;
    width: 235px !important;
  }

  .file mat-icon {
    padding: 9px 7px 0px 0px !important;
    justify-content: end;
    width: 25%;
  }

  .file .mat-form-field-flex {
    padding: 0 5px 0 20px !important;
    margin-top: -0.25em !important;
    position: relative !important;
    opacity: 5 !important;
}

.file mat-hint {
  padding-left: 60px !important;
    padding-top: 5px;
    color: #78ba49 !important;
    font-size: 1.23em;
    font-weight: 400;
}

.file .mat-form-field-flex:hover, .file .mat-form-field-outline-thick {
  opacity: 1 !important;
}

.file input.mat-input-element {
  margin: 0.7em 0em 0.9em 0em;
  color: currentColor;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 
}

.file-icon:hover {
  cursor: pointer;
}

.file .mat-form-field.mat-form-field-appearance-outline, .file .mat-form-field-label-wrapper {
  width: 50% !important;
  top: -1px !important;
  left: 1px !important;
}

.file {
  color: #1e293b;

  &.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-outline-thick {
      color: rgba(48, 48, 48, 0.247) !important;
    }
    .mat-form-field-label {
      color: rgba(48, 48, 48, 0.616) !important;
    }
  }

  &.mat-form-field-valid.mat-form-field-valid {
    .mat-form-field-outline-thick, .mat-form-field-label {
      color: #78ba49 !important;
    }
  }

  &.mat-focused {
    .mat-form-field-outline-thick, .mat-form-field-label {
      color: #78ba49 !important;
    }
}
}



.buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.button-container  button {
  white-space: normal; 
  overflow-wrap: break-word; 
  width: 70%;
  padding: 0 20px !important;
  border-radius: 50px !important;    
}

.button-container2 {
  display: flex; 
  justify-content: flex-end; 
  gap: 5px;
      button {
          padding: 0 20px !important;
          border-radius: 50px !important;
      }
}


.buttons .mat-raised-button {
  color: #78ba49 !important;
  font-weight: 500;
}

.button-container .mat-raised-button,
.button-container2 .mat-raised-button {
    transition: background-color 0s, color 0s; 
}

.button-container .mat-raised-button:hover,
.button-container2 .mat-raised-button:hover {
    background-color: #78ba49; 
    color: white !important; 
}
