<h2 mat-dialog-title class="title-center">Artículos a solicitar</h2>
<form [formGroup]="artFormulario"  > 
    <mat-dialog-content class="mat-typography">
        <div class="grid grid-cols-8  gap-3  text-center "   >
       

                <div class="col-start-3 col-end-7  ">
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Seleccione tipo de artículo</mat-label>
                        <mat-select class="inputMat" formControlName="IdTipoArticulo" required  #buySellSelect="matSelect" (ngModelChange)="mostrarInput()" >  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="tipoImpresoraFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                              </mat-option>
                          <mat-option *ngFor="let tipoArticulo of filtrotipoArticulo | async" [value]="tipoArticulo" >  <!--  -->
                             {{tipoArticulo.name}}
                            </mat-option>
                         </mat-select>
                         <mat-error *ngIf="artFormulario.get('IdTipoArticulo')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>  
                    </mat-form-field>
                </div>

            </div>

    <div [hidden]="!isShown" id="divshow">
        <div  class="grid grid-cols-2 gap-4">
              
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Descripción de artículo</mat-label>
                        <mat-select class="inputMat"  formControlName="idDescrArt"    #buySellSelect="matSelect" >  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="descrArticuloFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let descrArticulo of filtrodescrArticulo | async" [value]="descrArticulo" >  <!--  -->
                            {{descrArticulo.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="artFormulario.get('idDescrArt')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>             
                    </mat-form-field>
             
                    <mat-form-field appearance="fill" class="width100">
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="cantidad" type="number" min="0"> 
                        <mat-error *ngIf="artFormulario.get('cantidad')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error> 
                    </mat-form-field>  
                </div>



        </div>

            <div [hidden]="!isShownC" id="divshowC">
                <div  class="grid grid-cols-3 gap-4">
                    <mat-form-field appearance="fill" class="width100">
                        <mat-label>Dirección IP</mat-label>
                        <input matInput  formControlName="direccionIp"> 
                        <mat-error *ngIf="artFormulario.get('direccionIp')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error> 
                    </mat-form-field>  
              
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Tipo de impresora</mat-label>
                        <mat-select class="inputMat"   formControlName="idTipoImpre"    #buySellSelect="matSelect" (ngModelChange)="mostrarModelo()" >  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="tipoImpresoraFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let tipoImpresora of filtrotipoImpresora | async" [value]="tipoImpresora" >  <!--  -->
                            {{tipoImpresora.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="artFormulario.get('idTipoImpre')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>     
                    </mat-form-field>

             
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Modelo de impresora</mat-label>
                        <mat-select class="inputMat" formControlName="idTipoModelo"    #buySellSelect="matSelect"  (ngModelChange)="mostrardescConsumible()">  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="tipoModeloFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let tipoModelo of filtrotipoModelo | async" [value]="tipoModelo" >  <!--  -->
                            {{tipoModelo.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="artFormulario.get('idTipoModelo')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>      
                    </mat-form-field>

                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>DESCRIPCIÓN CONSUMIBLE</mat-label>
                        <mat-select class="inputMat" formControlName="idDescConsumible"    #buySellSelect="matSelect"  >  <!--  -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="descConsumibleFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                [noEntriesFoundLabel]="'No Encontrado'" >
                                <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let descConsumible of filtrodescConsumible | async" [value]="descConsumible" >  <!--  -->
                            {{descConsumible.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="artFormulario.get('idDescConsumible')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>      
                    </mat-form-field>



                    <mat-form-field appearance="fill" class="width100">
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="cantidad" type="number" min="0"> 
                        <mat-error *ngIf="artFormulario.get('cantidad')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>  
                    </mat-form-field>  
                </div>
            </div>


           
     
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
    
        <button type="button" mat-raised-button color="primary" cdkFocusInitial   type="submit"  (click)="asignar()"  >Asignar</button>
    
      </mat-dialog-actions>  
</form>
