<h2 mat-dialog-title class="title-center">Ingresar Serial del Equipo</h2>

    <mat-dialog-content class="mat-typography">
        <div class="grid grid-cols-8  gap-3  text-center "   >
       

                <div class="col-start-1 col-end-10  ">
                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Seleccione Serial</mat-label>
                        <mat-select class="inputMat"  [formControl]="Codserial"  required  #buySellSelect="matSelect">  <!--  -->
                          <mat-option *ngFor="let serial of filtroserial | async" [value]="serial.id" >  <!--  -->
                             {{serial.name}}
                            </mat-option>
                         </mat-select>
                      <mat-error *ngIf="Codserial.hasError('required')">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>    
                        <mat-hint>{{Codserial.value?.sound}}</mat-hint>           
                    </mat-form-field>
                </div>


           
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
    
        <button type="button" mat-raised-button color="primary" cdkFocusInitial   (click)="asignar()"  mat-dialog-close >Asignar</button>
    
      </mat-dialog-actions>  

