/* ==========================================================================
   Estilos generales del componente Operaciones Intervención
   ========================================================================== */

/* Fondo blanco para el contenedor principal */
::ng-deep .mat-drawer-container {
    background-color: white !important;
}

/* ==========================================================================
   Estilos para el contenedor de pestañas
   ========================================================================== */
.mat-tab-group {


    ::ng-deep .mat-tab-body-content {
        padding: 10px 0;
    }

    ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
        min-width: 0 !important;
        height: 20px !important;
        padding: 0 20px !important;
        border-radius: 9999px !important;
        --tw-text-opacity: 0.5;
        color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity));
    }

    ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
        --tw-bg-opacity: 1 !important;
        background-color: rgba(51, 65, 85, 0.060) !important;
    }
}

/* ==========================================================================
   Cabecera de la página
   ========================================================================== */
.header-container {
    color: #e89600;
}

/* Icono principal de la cabecera */
.head-icon::before {
    color: #e89600;
    font-size: 2.9em;
}

/* Texto debajo del icono en la cabecera */
.text-head {
    color: #e89600;
    font-size: 0.4em;
    opacity: 0.4;
}

/* ==========================================================================
   Contenedor principal de la tarjeta
   ========================================================================== */
.card-container {
    width: 650px;
    height: 480px;
    color: #e89600;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%) !important;
}

/* Título de la tarjeta */
.card-title {
    font-size: 1.3em;
    color: #e89600; 
}

/* ==========================================================================
   Estilos para los campos de formulario
   ========================================================================== */
.campos {
    display: flex;
    gap: 50px;
    width: 245px;

 
    .date-icon:before {
        color: grey;
    }
    .date-icon:hover {
        cursor: pointer;
    }
}

.field-form  {
    ::ng-deep {
        .mat-form-field-infix {
            display: flex !important;
            padding: 0 !important;
            width: 220px !important;
        }
        .mat-form-field-flex {
            padding: 0 5px 0 20px !important;
            margin-top: -0.25em !important;
            position: relative !important;
            opacity: 5 !important;
            align-items: normal;
        }
        .mat-form-field-valid.mat-form-field-valid {
            .mat-form-field-outline-thick,
            .mat-form-field-label {
                color: #e89600 !important;
            }
        }
        .mat-select {
            .mat-select-trigger {
                display: inline-flex;
                align-items: center;
                width: 100%;
                height: 35px !important;
            }
        }
        .mat-form-field-flex {
            height: 53px;
        }
    }   
    ::ng-deep &.mat-focused {
        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #e89600 !important;
        }
    }
    mat-icon {
        padding: 9px 7px 0px 0px !important;
        justify-content: end;
        width: 25%;
    }
}

/* ==========================================================================
   Botones de acción
   ========================================================================== */
.buttons-container .mat-raised-button {
    color: #e89600;
    font-weight: 500;
    &:hover {
        background-color: #e89600;
        color: white !important;
    }
}

/* ==========================================================================
   Tabla de datos (Angular Material)
   ========================================================================== */
.main-container2 {
    width: 73vw;
    ::ng-deep mat-progress-bar {
         .mat-progress-bar-fill::after {
            background-color: #e89600;
}
    }
}

.table-responsive {
    overflow-x: auto; 
    .table-cell {
        text-align: center !important;
        font-size: 0.78rem;
        border-bottom-width: 2px !important;
        border-style: solid;
        padding-left: 0;
        padding: 0 10px;
    }
    .header-cell {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 10px;
        justify-content: center !important;
        font-size: 0.87rem;
        border-bottom-width: 2px !important;
        border-style: solid;
    }

}

.dot-status {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}
.dot-green {
  background-color: #7cc67fb5; /* verde */
}
.dot-red {
  background-color: #f77f77c7; /* rojo */
}

.paginator-actions-row {
        ::ng-deep .mat-paginator .mat-paginator-container .mat-paginator-page-size .mat-paginator-page-size-select .mat-form-field-wrapper .mat-form-field-flex {
        border-color: #e89600 !important;
    }
}


/* ==========================================================================
   Resultados y personalización de checkboxes
   ========================================================================== */
.results {
    .action-buttons {
        .mat-raised-button {
            font-weight: 500;
            &:hover {
                background-color: #e89600 !important;
                color: white !important;
            }
        }
    }
}

.download::before {
    color: gray;
    cursor: pointer;
}

::ng-deep .results .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .results .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #e89700ce !important;
}

/* Centrado de los iconos de ordenamiento en las tablas */
::ng-deep .mat-sort-header-container {
    justify-content: center !important;
}

/* ==========================================================================
   Otros estilos y personalizaciones de Angular Material
   ========================================================================== */

::ng-deep .mat-calendar-body-selected{
    background-color: rgba(126, 126, 126, 0.651) !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #3f4853 !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #3f48539d !important;
}

/* Snack-bar */
::ng-deep .mat-simple-snackbar-action {
    color: rgba(255, 255, 255, 0.664) !important;
}



/* ==========================================================================
   Media queries para pantallas pequeñas (tablets y laptops)
   ========================================================================== */

/* Ajustes generales para pantallas <= 1024px */
@media (max-width: 1024px) {

    /* ==========================================================================
   Cabecera de la página
   ========================================================================== */
    .header-container {
        font-size: 2.6em !important;
        width: 65% !important;
    }

    /* Icono principal de la cabecera */
    .head-icon::before {
        font-size: 2.3em;
    }

    /* Texto debajo del icono en la cabecera */
    .text-head {
        font-size: 0.4em;
    }

    /* ==========================================================================
   Contenedor principal de la tarjeta
   ========================================================================== */
    .card-container {
        width: 550px;
        height: 440px;
        margin-bottom: 150px;
    }

    /* Título de la tarjeta */
    .card-title {
        font-size: 1.0em;
    }



    /* ==========================================================================
   Botones de acción
   ========================================================================== */
    .buttons-container .mat-raised-button {
        width: 40% !important;
        font-size: 0.8rem;
    }

    /* ==========================================================================
   Tabla de datos (Angular Material)
   ========================================================================== */
    .main-container2 {
        width: 90vw !important;
    }

    .table-responsive {
        overflow-x: auto;

        .table-cell {
            font-size: 0.74rem;
            border-bottom-width: 1px !important;
        }

        .header-cell {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-size: 0.84rem;
        }

    }

    .results {
        .action-buttons {
            .mat-raised-button {
                font-size: 0.8rem;
            }
        }
    }

}

/* Fin de media queries responsivos */