<!-- Loading Bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- <main-layouts></main-layouts> -->
<mat-sidenav-container>
    <router-outlet *ngIf="true"></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido -->
        <div class="carga-container-intervencion-anulacion">
            <div class="header-content-intervencion-anulacion">
                <span>Anulación</span>
                <mat-icon class="icon-size-10 icon-bdv-icon-usdbill-l head-icon-intervencion-anulacion"></mat-icon>
            </div>
            <mat-card class="card-container-intervencion-anulacion">
                <div class="title-intervencion-anulacion">
                    <span>Seleccione Criterios</span>
                </div>
                <!-- Carga Form -->
                <form class="card-form-intervencion-anulacion" #cargaaForm="ngForm" [formGroup]="anulacionInterForm">  

                    <!-- file  -->
                    <mat-form-field 
                        class="w-full file-intervencion-anulacion"
                        appearance="outline"
                         [ngClass]="{'mat-form-field-valid': anulacionInterForm.controls['file'].valid && anulacionInterForm.controls['file'].value}">
                        <mat-label>Archivo</mat-label>
                        <input
                        id="file"
                        matInput
                        [formControlName]="'file'"  
                        [value]="fileName"
                        readonly>
                        <mat-hint>Suba un archivo Excel</mat-hint>
                        <mat-error *ngIf="anulacionInterForm.get('file').hasError('required') && anulacionInterForm.get('file').touched">
                            Debe seleccionar un archivo
                          </mat-error>
                          <mat-error *ngIf="anulacionInterForm.get('file').hasError('invalidFile')">
                            Por favor, sube un archivo Excel válido
                          </mat-error>
                        <mat-icon (click)="fileInput.click()" class="icon-bdv-icon-file2-m file-icon-intervencion-anulacion"></mat-icon>
                        <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                      </mat-form-field>
                    
                    
                </form>
                
                <div class="buttons-intervencion-anulacion">
                <div class="button-container-intervencion-anulacion">
                    <button class="mat-raised-button" type="submit" form="cargaInterForm">Descargar plantilla de Anulacion</button>
                </div>

                <div class="button-container2-intervencion-anulacion">
                    <button class="mat-raised-button" type="submit" form="cargaInterForm">Procesar</button>
                    <button class="mat-raised-button" (click)="menuPrincipal()">Salir</button>
                </div>

                </div>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
