mat-form-field{
    width: 100% !important;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .title-center {
    margin: 0 auto;
    font-size: 15pt;
    /* Opcional: También puedes agregar text-align: center si es necesario */
    /* text-align: center; */
  }
 
  
  .title-center2 {
    margin: 0 auto;
    font-size: 12pt;
    /* Opcional: También puedes agregar text-align: center si es necesario */
    /* text-align: center; */
  }
 
  table { width: 100%; table-layout: fixed; } 

  th, td { overflow: hidden; width: auto; text-overflow: ellipsis; white-space: inherit; }

  
  .tamannioFiltro{
    width: 30% !important;
  }

  .verde-snackba{
    background: #14fc0c !important;
}

.mat-cell{
  font-size: 9pt;
}
text-5xl{

  font-size: 1.25rem !important;
}



.max-w-screen-xl {
  max-width: 95% !important;
}
hr{
  margin-left: 30% !important; 
  margin-right: 30% !important;
  margin: 10px 0;
  border: solid 0.1em #0067B1;
}



.example-chip-list {
  width: 100%;
}
