// @import url("//src/assets/styles/icons-bdv.css");

* {
    font-family: 'Nunito', sans-serif !important;
}

body {
    background-color: transparent !important;
}

.Interbancario-container-MesaCambio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.Interbancario-MesaCambio-header-content {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #78ba49;
    font-size: 3.6em;
}

.head-icon-mesa::before {
    color: #78ba49;
    font-size: 2.7em;
    opacity: 40%;
    padding-top: 25px;
}

.card-container-Interbancario-MesaCambio {
    width: 935px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #78ba49;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%);
}


.title-Interbancario-MesaCambio {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.3em;
}


.card-form-Interbancario-MesaCambio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 23px;
}

.card-form-Interbancario-MesaCambio .mat-form-field {
    // flex: 1;
    margin-right: 0px;

}

.campos-Interbancario-MesaCambio .tipo {
    margin-right: 0 !important;
}

.cedula {
    display: flex;
}

.campos-Interbancario-MesaCambio {
    display: flex;
    gap: 50px;
    width: 245px;
}

.campos-Interbancario-MesaCambio .tipo {
    .mat-form-field-flex {
        padding: 0 5px 0 6px !important;
    }
}

.tipo .mat-select-value {
    padding-left: 25px;
}

.campos-Interbancario-MesaCambio .tipo {
    .mat-form-field-label {
        width: 30px;
    }
}

.input-cedula .mat-form-field-wrapper {
    width: 165px;
}

.input-cedula {
    color: #1e293b;

    &.mat-focused {

        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #78ba49 !important;
        }
    }
}


.campos-Interbancario-MesaCambio .tipo-documento {
    width: 80px;
    /* Ancho fijo para el select */
}


.date-icon:before {
    color: grey;
}

.date-icon:hover {
    cursor: pointer;
}


.field-oper .mat-form-field-infix {
    display: flex !important;
    padding: 0 !important;
    width: 220px !important;
}

.field-oper mat-icon {
    padding: 9px 7px 0px 0px !important;
    justify-content: end;
    width: 25%;
}

.field-oper .mat-form-field-flex {
    padding: 0 5px 0 20px !important;
    margin-top: -0.25em !important;
    position: relative !important;
    opacity: 5 !important;
}

.field-oper mat-hint {
    padding-left: 60px !important;
    padding-top: 5px;
    color: #78ba49 !important;
    font-size: 1.23em;
    font-weight: 400;
}

.field-oper .mat-form-field-flex:hover,
.field-oper .mat-form-field-outline-thick {
    opacity: 1 !important;
}

.field-oper input.mat-input-element {
    margin: 0.7em 0em 0.9em 0em;
    color: #1e293b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.tipo {
    .mat-form-field-wrapper {

        width: 80px !important;
    }
}

.tipo .mat-form-field {
    padding-left: 13px !important;
    margin-right: 0px !important;
}


.field-oper .mat-form-field.mat-form-field-appearance-outline,
.field-oper .mat-form-field-label-wrapper {
    width: 50% !important;
    top: -1px !important;
    left: 1px !important;
}


.field-oper {
    &.mat-form-field-invalid.mat-form-field-invalid {
        .mat-form-field-outline-thick {
            color: rgba(48, 48, 48, 0.247) !important;
        }

        .mat-form-field-label {
            color: rgba(48, 48, 48, 0.616) !important;
        }
    }

    &.mat-form-field-valid.mat-form-field-valid {

        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #78ba49 !important;
        }
    }

    &.mat-focused {

        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #78ba49 !important;
        }
    }
}

.buttons-oper {
    display: flex;
    justify-content: center;
    width: 100%;

}

.button-container-oper button {
    white-space: normal;
    overflow-wrap: break-word;
    width: 70%;
    padding: 0 20px !important;
    border-radius: 50px !important;
}

.button-container2-oper {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    button {
        padding: 0 20px !important;
        border-radius: 50px !important;
        width: 100px;
        // background-color: lightblue;
    }
}

.buttons-oper .mat-raised-button {
    color: #78ba49 !important;
    font-weight: 500;
}

.button-container-oper .mat-raised-button,
.button-container2-oper .mat-raised-button {
    transition: background-color 0s, color 0s;
}

.button-container-oper .mat-raised-button:hover,
.button-container2-oper .mat-raised-button:hover {
    background-color: #78ba49;
    color: white !important;
}



.field-oper .mat-select {

    .mat-select-trigger {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 35px !important;
    }
}

.field-oper {
    .mat-form-field-flex {
        height: 53px;
}
}

.mat-select-panel {
    border-radius: 15px !important;
}




    
// .mat-active {
//     background: rgba(120, 186, 73, 0.137) !important;
//     color: #1e293b !important;
//     }
    

// .mat-option:hover {
//     background: rgba(120, 186, 73, 0.301) !important;
// }


//  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//     color: #1e293b !important;
// }

// .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//     color: #78ba49 !important;
// }

// .mat-calendar-body-selected {
//     background-color: #78ba49 !important;
//     color: var(--fuse-on-primary);
// }


// .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover,
// .cdk-keyboard-focused .mat-calendar-body-active,
// .cdk-program-focused .mat-calendar-body-active {
//     &>.mat-calendar-body-cell-content {
//         &:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//             background-color: rgba(120, 186, 73, 0.301) !important;
//         }
//     }
// }

//  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//     border-color: #78ba49b0;
// }

