/* ==========================================================================
   Estilos para el componente Operaciones Intervención
   ========================================================================== */


   /* Fondo blanco para el contenedor principal */
::ng-deep .mat-drawer-container {
    background-color: white !important;
}

/* ==========================================================================
   Estilos para el contenedor de pestañas
   ========================================================================== */
.mat-tab-group {
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // height: 72vh !important;

    ::ng-deep .mat-tab-body-content {
        padding: 10px 0;
        margin: 0 180px;
    }

    ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
        min-width: 0 !important;
        height: 20px !important;
        padding: 0 20px !important;
        border-radius: 9999px !important;
        --tw-text-opacity: 0.5;
        color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity));
    }

    ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
        --tw-bg-opacity: 1 !important;
        background-color: rgba(51, 65, 85, 0.060) !important;
    }
}

/* ==========================================================================
   Cabecera de la página
   ========================================================================== */
.header-container {
    color: #db0032;
}

/* Icono principal de la cabecera */
.head-icon::before {
    color: #db0032;
    font-size: 2.9em;
}

/* Texto debajo del icono en la cabecera */
.text-head {
    color: #db0032;
    font-size: 0.4em;
    opacity: 0.4;
}

/* ==========================================================================
   Contenedor principal de la tarjeta
   ========================================================================== */
.card-container {
    width: 650px;
    height: 480px;
    color: #db0032;
    box-shadow: 0 4px 8px rgb(0 0 0 / 26%) !important;
}

/* Título de la tarjeta */
.card-title {
    font-size: 1.3em;
    color: #db0032; 
}


.field-form  {
    
    .date-icon-inter:before {
        color: grey;
    }

    .date-icon-inter:hover {
        cursor: pointer;
    }

    ::ng-deep {
        .mat-form-field-infix {
            display: flex !important;
            padding: 0 !important;
            width: 220px !important;
        }
        .mat-form-field-flex {
            padding: 0 5px 0 20px !important;
            margin-top: -0.25em !important;
            position: relative !important;
            opacity: 5 !important;
            align-items: normal;
        }
        .mat-focused {
        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #db0032 !important;
        }
    }
  
        .mat-form-field-flex {
            height: 53px;
        }
    }   

    
    mat-icon {
        padding: 9px 7px 0px 0px !important;
        justify-content: end;
        width: 25%;
    }

}


::ng-deep .mat-calendar-body-selected{
    background-color: rgba(126, 126, 126, 0.651) !important;
}

/* Snack-bar */
::ng-deep .mat-simple-snackbar-action {
    color: rgba(255, 255, 255, 0.664) !important;
}

/* ==========================================================================
   Botones de acción
   ========================================================================== */
.buttons-container .mat-raised-button {
    color: #db0032;
    font-weight: 500;
    &:hover {
        background-color: #db0032;
        color: white !important;
    }
}



/* ==========================================================================
   Tabla de datos (Angular Material)
   ========================================================================== */

.table-responsive {
    overflow-x: auto; 
    .table-cell {
        text-align: center !important;
        font-size: 0.78rem;
        border-bottom-width: 2px !important;
        border-style: solid;
        padding: 0 10px;
    }
    .header-cell {
        padding: 15px 10px;
        justify-content: center !important;
        font-size: 0.87rem;
        border-bottom-width: 2px !important;
        border-style: solid;
        text-align: center !important;
    }

}


.input-filter {
    color: #1e293b;
    input {
        caret-color: #db0032;
    }
    ::ng-deep &.mat-focused {
        .mat-form-field-outline-thick,
        .mat-form-field-label {
            color: #db0032 !important;
        }
    }
}

/* ==========================================================================
   Resultados y personalización de checkboxes
   ========================================================================== */
.results {
    .action-buttons {
        .mat-raised-button {
            font-weight: 500;
            &:hover {
                background-color: #db0032 !important;
                color: white !important;
            }
        }
    }
}

.paginator-actions-row {
    ::ng-deep .mat-paginator .mat-paginator-container .mat-paginator-page-size .mat-paginator-page-size-select .mat-form-field-wrapper .mat-form-field-flex {
    border-color: #db0032 !important;
}
}

/* Centrado de los iconos de ordenamiento en las tablas */
::ng-deep .mat-sort-header-container {
    justify-content: center !important;
}

