.mat-cell{
    font-size: 9pt;
  }
  
  .margin-center-card{
    padding: 24px !important;
}

mat-form-field{
    width: 100% !important;
}


  .tamannioFiltro{
    width: 30% !important;
  }
  .md\:text-5xl{
  
    font-size: 1.25rem !important;
  }
  table { width: 100%; table-layout: fixed;  text-align: center; } 

  th, td { overflow: hidden; width: auto; text-overflow: ellipsis; white-space: inherit; }
  .max-w-screen-xl {
    max-width: 95% !important;
  }
  hr{
    margin-left: 30% !important; 
    margin-right: 30% !important;
    margin: 10px 0;
    border: solid 0.1em #0067B1;
  }

 