

<div class="flex-auto border-t -mt-px pt-4 sm:pt-6">

    <div class="w-full max-w-screen-xl mx-auto">
       
        <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl  margin-center-card">
          

         

     
                    <h5 class="title-center2">¿Usted será el responsable de uso del equipo?</h5>
             
               
        

            <div class="title-center2 mt-4 mb-4">
                <mat-radio-group [(ngModel)]="selectedOption" name="radioGroup">
                    <mat-radio-button value="Y" (change)="handleRadioChange($event)">SÍ</mat-radio-button>
                    <mat-radio-button value="N" (change)="handleRadioChange($event)">No</mat-radio-button>
                </mat-radio-group>
            </div>
              

            <form [formGroup]="usuFormulario" (ngSubmit)="submit()">
            <div class="grid grid-cols-12 gap-4 mt-4 mb-4"  *ngIf="isShown"  id="divshow" >
                  
                   <h1 class="title-center col-start-1 col-end-13"> Ingresar Ubicación física real</h1>
               
                    <div class="col-start-1 col-end-3">
                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>NM</mat-label>
                            <input matInput  formControlName="codigoUsuario"   readonly> 
                            <!-- <mat-error *ngIf="solFormulario.get('nm')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error>   -->                    
                        </mat-form-field>
                    </div>
                    <div class="col-end-3 col-start-6">
                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Cédula</mat-label>
                            <input matInput formControlName="cedula" readonly> 
                            <!-- <mat-error *ngIf="solFormulario.get('nm')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error>   -->                    
                        </mat-form-field>
                    </div>
                    <div class="col-end-6  col-start-13">
                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Nombre y Apellido</mat-label>
                            <input matInput formControlName="nombres" readonly> 
                            <!-- <mat-error *ngIf="solFormulario.get('nm')?.hasError">
                                Campo <strong>Obligatorio</strong>
                            </mat-error>   -->                    
                        </mat-form-field>
                    </div>
                    
                    <div class="col-start-1 col-end-2">
                        <mat-form-field appearance="fill" class="width100">
                            <mat-label>Código  unidad </mat-label>
                            <input matInput formControlName="codUnidad" readonly> 
                            <!-- <mat-error *ngIf="solFormulario.get('nm')?.hasError">
                                Campo <strong>Obligatorio</strong>
                              </mat-error>   -->                    
                        </mat-form-field>
                    </div>
                    <div class="col-end-2 col-start-6 ">
                <mat-form-field appearance="fill" class="width100">
                    <mat-label>Nombre de la unidad </mat-label>
                    <input matInput formControlName="unidad" readonly> 
                    <!-- <mat-error *ngIf="solFormulario.get('nm')?.hasError">
                        Campo <strong>Obligatorio</strong>
                      </mat-error>   -->                    
                </mat-form-field>
                    </div>
                <div class="col-end-6  col-start-9">

                    <mat-form-field appearance="fill"class="width100">
                        <mat-label>Ubicación física</mat-label>
                        <mat-select class="inputMat" id="selectUbi" formControlName="ubicacionFisica"    required  #buySellSelect="matSelect"  (ngModelChange)="mostrarInput()"   >  <!--  -->
                       
                          <mat-option>
                            <ngx-mat-select-search [formControl]="ubicacionFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                            [noEntriesFoundLabel]="'No Encontrado'" >
                            <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                            [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                          </mat-option> 
                          <mat-option *ngFor="let ubicacion of filtroubicacion | async" [value]="ubicacion.id" >  <!--  -->
                             {{ubicacion.name}}
                            </mat-option>
                         </mat-select>
                      <mat-error *ngIf="usuFormulario.get('ubicacionFisica')?.hasError">
                            Campo <strong>Obligatorio</strong>
                        </mat-error>              
                    </mat-form-field>
                </div>

                <div class="col-end-9  col-start-13" [hidden]="!isShownP" id="divshowP">

                  <mat-form-field appearance="fill"class="width100">
                      <mat-label>Piso</mat-label>
                      <mat-select class="inputMat" [formControl]="piso"  id="selectpiso"  #buySellSelect="matSelect" required > 
                        <mat-option>
                          <ngx-mat-select-search [formControl]="detalleUbicacionFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                          [noEntriesFoundLabel]="'No Encontrado'" >
                          <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                          [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                        </mat-option> 
                        
                        <mat-option *ngFor="let detalleUbicacion of filtrodetalleUbicacion | async" [value]="detalleUbicacion.id" >  <!-- -->
                         {{detalleUbicacion.name}} 
                          </mat-option>
                       </mat-select>
                     
                  <mat-error *ngIf="piso.hasError('required')">
                          Campo <strong>Obligatorio</strong>
                      </mat-error> 
                      <mat-hint>{{piso.value?.sound}}</mat-hint>     
                    </mat-form-field>
              </div>
            
              <div class="col-end-9  col-start-13" [hidden]="!isShownPT" id="divshowPT">

                <mat-form-field appearance="fill"class="width100">
                    <mat-label>Piso/NroOficina/Otro:</mat-label>                 
                    <input matInput [formControl]="piso"  required> 
               <mat-error *ngIf="piso.hasError('required')">
                        Campo <strong>Obligatorio</strong>
                    </mat-error>      
                    <mat-hint>{{piso.value?.sound}}</mat-hint>                  
                </mat-form-field>
            </div>

            <div class="col-start-1 col-end-5 ">
              <mat-form-field appearance="fill" class="width100">
                  <mat-label>Número teléfono de oficina completo</mat-label>
                  <input matInput formControlName="numContacto" maxlength="11" title="teléfono de oficina completo" required> 
                   <mat-error *ngIf="usuFormulario.get('numContacto')?.hasError">
                      Campo <strong>Obligatorio</strong>
                  </mat-error> 
              </mat-form-field>  
          </div>

            <div  class="col-end-5 col-start-9 text-center"  [hidden]="!isShownSU"   id="divshowSU">

              <mat-form-field appearance="fill"class="width100">
                <mat-label>Seleccione el próximo aprobador</mat-label>
                  <mat-select class="inputMat"   formControlName="codusuarioGestion"     #buySellSelect="matSelect" >  <!--   -->
                    <mat-option>
                      <ngx-mat-select-search [formControl]="supervisorFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                      [noEntriesFoundLabel]="'No Encontrado'" >
                      <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                      [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                    </mat-option> 
                    <mat-option *ngFor="let supervisor of filtrosupervisor | async" [value]="supervisor.id" >  <!-- -->
                      {{supervisor.name}} 
                      </mat-option>
                   </mat-select>
                  <!-- <input matInput formControlName="supervisor" >  -->
             <mat-error *ngIf="usuFormulario.get('codusuarioGestion')?.hasError">
                      Campo <strong>Obligatorio</strong>
                  </mat-error>                    
              </mat-form-field>
                               
           
          </div>

          <div class="col-end-9 col-start-13  text-center" >

            <mat-form-field appearance="fill">
              <mat-label>Seleccione Equipo</mat-label>


              <mat-select class="inputMat"  [formControl]="equipos" multiple  required  #buySellSelect="matSelect"     >  <!--  -->
                       
                <mat-option>
                  <ngx-mat-select-search [formControl]="equipoFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                  [noEntriesFoundLabel]="'No Encontrado'" >
                  <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                  [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                </mat-option> 
                <mat-option *ngFor="let equipo of filtroequipo | async" [value]="equipo" >  <!--  -->
                   {{equipo.tipoEquipo}}
                  </mat-option>
               </mat-select>

              <mat-error *ngIf="equipos.hasError('required')">
                Campo <strong>Obligatorio</strong>
            </mat-error> 
            <mat-hint>{{equipo.value?.sound}}</mat-hint>  
            </mat-form-field>

          </div>

          <div class="col-span-12 text-center" >

            <mat-form-field  appearance="fill"class="width100" >
              <mat-label>Detalle del Uso</mat-label>
              <textarea matInput placeholder="" formControlName="detalle" required></textarea>
              <mat-error *ngIf="usuFormulario.get('detalle')?.hasError">
                Campo <strong>Obligatorio</strong>
            </mat-error> 
            </mat-form-field>
         
        </div>

            <div class="col-span-12 text-center">
                <button mat-raised-button color="primary" [type]="submit">Enviar</button>
            </div>

            </div>

            <!-- <div class="grid grid-cols-12 gap-4 mt-4 mb-4"  *ngIf="isShownT"  id="divshowT" > -->

         <div class=""   [hidden]="!isShownT"   id="divshowT" >
          
            <mat-form-field appearance="outline" >
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort >
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="codUsuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo Usuario </th>
                    <td mat-cell *matCellDef="let row"> {{row.codUsuario}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
                    <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
                  </ng-container>
              
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="codUnidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo Unidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.codUnidad}} </td>
                  </ng-container>

                  <ng-container matColumnDef="unidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.unidad}} </td>
                  </ng-container>

                  <ng-container matColumnDef="codCargo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Cargo </th>
                    <td mat-cell *matCellDef="let row"> {{row.codCargo}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cargo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo </th>
                    <td mat-cell *matCellDef="let row"> {{row.cargo}} </td>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones </th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;"> 
                        <mat-icon class="mr-1 icon-size-7 text-green-500" 
                        (click)="openDialog(row.codUsuario)" 
                         [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    </td>
                  </ng-container>
                 
                  
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No Existe Resultado</td>
                  </tr>
                </table>
       
                  <mat-paginator
                    [pageSize]="25"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true">
                </mat-paginator>
                </div>
               
       
            </div>

           
        </form>
            
     <div>
    
     </div>
              
      
       

                 
       
                

         
        </div>

    </div>

</div>

