.mat-cell{
    font-size: 9pt;
  }
  
  mat-label{
    font-weight: bold !important;
  }
  
  .tamannioFiltro{
    width: 30% !important;
  }
  .md\:text-5xl{
    
    font-size: 1.25rem !important;
  }
  table { width: 100%; table-layout: fixed;  text-align: center; } 
  
  th, td { overflow: hidden; width: auto; text-overflow: ellipsis; white-space: inherit; }
  
  
  .max-w-screen-xl {
    max-width: 95% !important;
  }