<!-- Loading Bar -->
<fuse-loading-bar [show]="isLoading"></fuse-loading-bar>

<!-- <main-layouts></main-layouts> -->
<mat-sidenav-container>
    <router-outlet></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido -->
        <mat-tab-group class="mat-tab-group-intencionRetiro" [(selectedIndex)]="selectedTabIndex"
            (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Búsqueda">

                <div class="intencionRetiro-container">
                    <div class="intencionRetiro-header-content">
                        <span>Intención Retiro</span>
                        <div class="icon-container">
                            <mat-icon class="icon-size-10 icon-bdv-icon-usdbill-l head-icon-intencionRetiro"></mat-icon>
                            <span class="text-head-retiro">Retiro</span>
                        </div>
                    </div>
                    <mat-card class="card-container-intencionRetiro">
                        <div class="title-intencionRetiro">
                            <span>Seleccione Criterios de Búsqueda</span>
                        </div>
                        <!-- Carga Form -->
                        <form class="card-form-intencionRetiro" #intencionRetiroForm="ngForm"
                            [formGroup]="intencionRetiroFb">

                            <div class="field-container-intencionRetiro">
                                <div class="campos-intencionRetiro">

                                    <div class="cedula-intencionRetiro">
                                        <mat-form-field appearance="outline"
                                            class="field-intencionRetiro tipoDocumentoInter">
                                            <mat-label>Tipo</mat-label>
                                            <mat-select [formControlName]="'nacionalidad'">
                                                <mat-option value="V">V</mat-option>
                                                <mat-option value="E">E</mat-option>
                                                <mat-option value="P">P</mat-option>
                                                <mat-option value="J">J</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="flex-grow-1 input-cedula-inter">
                                            <mat-label>Cédula o RIF</mat-label>
                                            <input type="number" matInput [formControlName]="'documento'" matInput>
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field class="w-full field-intencionRetiro sucursalesField"
                                        appearance="outline">
                                        <mat-label>Oficinas</mat-label>
                                        <mat-select [formControlName]="'agencia'">
                                            <mat-option value="TODAS">Todas</mat-option>
                                            <mat-option *ngFor="let agencia of agencias" [value]="agencia.nro">
                                                {{ agencia.nro }} - {{ agencia.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <div class="campos-intencionRetiro">

                                    <mat-form-field class="w-full field-intencionRetiro" appearance="outline">
                                        <mat-label>Fecha Desde</mat-label>
                                        <input matInput formControlName="fechaDesde" [max]="today"
                                            [matDatepicker]="pickerDesde" readonly>
                                        <mat-icon (click)="pickerDesde.open()"
                                            class="icon-bdv-icon-scheduledit-m date-icon-inter"></mat-icon>
                                        <mat-datepicker #pickerDesde></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="w-full field-intencionRetiro" appearance="outline">
                                        <mat-label>Fecha Hasta</mat-label>
                                        <input matInput formControlName="fechaHasta" [max]="today"
                                            [min]="intencionRetiroFb.get('fechaDesde')?.value"
                                            [matDatepicker]="pickerHasta" readonly>
                                        <mat-icon (click)="pickerHasta.open()"
                                            class="icon-bdv-icon-scheduledit-m date-icon-inter"></mat-icon>
                                        <mat-datepicker #pickerHasta></mat-datepicker>
                                    </mat-form-field>

                                </div>

                                <div class="campos-intencionRetiro">
                                    <mat-form-field class="w-full field-intencionRetiro sucursalesField"
                                        appearance="outline">
                                        <mat-label>Estatus</mat-label>
                                        <mat-select [formControlName]="'estatus'">
                                            <mat-option value="TODAS">Todas</mat-option>
                                            <mat-option value="ACTIVO">Activo</mat-option>
                                            <mat-option value="LIQUIDADO">Liquidado</mat-option>
                                            <mat-option value="RECHAZADO">Rechazado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                        </form>

                        <div class="buttons-intencionRetiro">
                            <div class="button-container2-intencionRetiro">
                                <button class="mat-raised-button" type="submit" (click)="consultarIntencionRetiro()"
                                    form="cargaForm">Procesar</button>
                                <button class="mat-raised-button" type="submit" form="cargaForm"
                                    (click)="inicio()">Salir</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-tab>












            <mat-tab label="Resultado">
                <ng-template matTabContent>
                    <div
                        class="w-full p-0 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 resultados-intervencion ">
                        <!-- Summary -->

                        <!-- Overdue -->




                        <!-- Github issues summary -->
                        <div
                            class="sm:col-span-12 md:col-span-12 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden ">
                            <div
                                class="sm:col-span-16 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <!-- <div class="text-lg font-medium tracking-tight leading-6 truncate">Buscar</div> -->

                                <div class="flex flex-col flex-auto mt-2 overflow-x-auto results">
                                    <div class="flex items-start justify-between">
                                        <mat-form-field appearance="outline" class="input-filter-intencionRetiro">
                                            <mat-label>Filtro</mat-label>
                                            <input matInput (keyup)="applyFilterH($event)" placeholder="" #input>
                                        </mat-form-field>

                                        <div class="action-buttons">
                                            <button class="mat-raised-button mr-5" (click)="exportarExcel()">Exportar
                                                Ordenes</button>
                                            <button class="mat-raised-button mr-5"
                                                    (click)="regresar()">Regresar</button>
                                            <button class="mat-raised-button mr-5"
                                                (click)="inicio()">Salir</button>
                                        </div>

                                    </div>
                                    <div class="mat-elevation-z8 table-responsive-retiro">
                                        <table mat-table [dataSource]="dataSourceH" matSort
                                            class="table-intencionRetiro">
                                            <!-- Tipo Intervención Column -->
                                            <ng-container matColumnDef="rif">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header >
                                                    Rif
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.rif }}
                                                </td>
                                            </ng-container>

                                            <!-- coVentaBCV Column -->
                                            <ng-container matColumnDef="nombreEmpresa">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-50 pl-10">
                                                    Nombre
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="pl-6">
                                                    {{ row.nombreEmpresa }}
                                                </td>
                                            </ng-container>


                                            <!-- Fecha Inicio Column -->
                                            <ng-container matColumnDef="moneda">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-0 pl-5">
                                                    Moneda
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.moneda }}
                                                </td>
                                            </ng-container>
                                            <!-- Fecha Inicio Column -->
                                            <ng-container matColumnDef="montoDivisa">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-0 pl-5">
                                                    Monto Divisas
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="pl-0">
                                                    {{ row.montoDivisa }}
                                                </td>
                                            </ng-container>

                                            <!-- Fecha Fin Column -->
                                            <ng-container matColumnDef="numeroCuentaOrigen">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-40">
                                                    Cuenta Divisa
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.numeroCuentaOrigen }}</td>
                                            </ng-container>

                                            <!-- Fecha Valor Column -->
                                            <ng-container matColumnDef="porcentajeComision">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    % Comisión
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.porcentajeComision }}
                                                </td>
                                            </ng-container>

                                            <!-- Tipo Cambio Column -->
                                            <ng-container matColumnDef="montoComision">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-0">
                                                    Monto Comisión
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.montoComision}}
                                                </td>
                                            </ng-container>

                                            <!-- Moneda Column -->
                                            <ng-container matColumnDef="agencia">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-40">
                                                    Agencia
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.agencia}}
                                                </td>
                                            </ng-container>

                                            <!-- Saldo Disponible Column -->
                                            <ng-container matColumnDef="estatus">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Estatus
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.estatus }}
                                                </td>
                                            </ng-container>

                                            <!-- Semana Column -->
                                            <ng-container matColumnDef="fechaHoraOperacion">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-40">
                                                    Fecha de Operación
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.fechaHoraOperacion }}
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="10">No Existe Resultado</td>
                                            </tr>
                                        </table>

                                        <div class="paginator-actions-row">
                                            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                                                [showFirstLastButtons]="true" #paginatorH>
                                            </mat-paginator>
                                            <div class="action-buttons" *ngIf="paginatorH?.pageSize !== 5">
                                                <button class="mat-raised-button mr-5"
                                                    (click)="exportarExcel()">Exportar Ordenes</button>
                                                <button class="mat-raised-button mr-5"
                                                    (click)="regresar()">Regresar</button>
                                                <button class="mat-raised-button mr-5"
                                                    (click)="inicio()">Salir</button>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </ng-template>
            </mat-tab>


        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>