<!-- Loading Bar -->
<fuse-loading-bar></fuse-loading-bar>


<mat-sidenav-container>
    <router-outlet *ngIf="true"></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido -->
        <div class="operacionesMenudeo-container-operaciones">
            <div class="operaMenudeo-header-content-operaciones">
                <span>Operaciones</span>
                <mat-icon class="icon-size-10 icon-bdv-icon-usd-l head-icon-Menudeo-operaciones"></mat-icon>
            </div>
            <mat-card class="card-container-operaMenudeo-operaciones">
                <div class="title-operaMenudeo-operaciones">
                    <span>Seleccione Criterios de Búsqueda</span>
                </div>
                <!-- Carga Form -->
                <form class="card-form-operaMenudeo-operaciones" #operacionesForm="ngForm" [formGroup]="operacioneesMenudeoForm">

                    <div class="field-container-Menudeo-operaciones">

                <div class="campos-operaMenudeo-operaciones">

                    <mat-form-field class="w-full field-operMenudeo-operaciones" appearance="outline">
                        <mat-label>Estatus BCV</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full field-operMenudeo-operaciones" appearance="outline">
                        <mat-label>Envio BCV</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                    </div>
                    <div class="campos-operaMenudeo-operaciones">

                    <mat-form-field class="w-full field-operMenudeo-operaciones" appearance="outline">
                        <mat-label>Tipo de Movimiento</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full field-operMenudeo-operaciones" appearance="outline">
                        <mat-label>Tipo de Operacion</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>

                    <div class="campos-operaMenudeo-operaciones">

                        <mat-form-field class="w-full field-operMenudeo-operaciones" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" readonly>
                            <mat-icon (click)="picker.open()" class="icon-bdv-icon-scheduledit-m date-icon-Menudeo-operaciones"></mat-icon>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div>

            </div>
    </form>

                <div class="buttons-operMenudeo-operaciones">
                    <div class="button-container2-operMenudeo-operaciones">
                        <button class="mat-raised-button" type="submit" form="cargaForm">Procesar</button>
                        <button class="mat-raised-button" type="submit" form="cargaForm" (click)="menuPrincipal()">Salir</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
