<div class="absolute inset-0 flex flex-col min-w-0 ">

    <!-- Main -->
    <div class="flex flex-col flex-auto">

        <!-- Header -->
        <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Creacion de Solicitud</div>
                <div class="flex items-center mt-0.5 font-medium text-secondary">
                    
                    <!-- Breadcrumbs -->
                  
                </div>
            </div>
            <!-- Actions -->
            <div class="mt-4 sm:mt-0">
                <span></span>
            </div>
        </div>

        <!-- <div class="w-full max-w-screen-xl mx-auto">
            <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Seleccione el tipo de servicio</div>
                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                   
                </div>
            </div>
        </div> -->
    
        <div >

        
        <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                        
                 <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl  margin-center-card">
                    <form  [formGroup]="solFormulario" >  
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Seleccione el tipo de servicio</div>
                     <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                        <div  class="grid grid-cols-3 gap-4">
                            <mat-form-field>
                                <mat-label>Categoria</mat-label>                                
                                <mat-select class="inputMat"      formControlName="categoria"  #buySellSelect="matSelect" (ngModelChange)="buscarTipoServicio()">
                                    <mat-option  *ngFor="let categoria of filtrocategoria | async" [value]="categoria">
                                        {{categoria.name}}
                                      </mat-option>
                                
                                </mat-select>
                                <mat-error *ngIf="solFormulario.get('categoria')?.hasError">
                                    Campo <strong>Obligatorio</strong>
                                  </mat-error>
                            </mat-form-field>
                                    
                                    
                             <mat-form-field>
                                 <mat-label>Tipo Servicio</mat-label>                                
                                 <mat-select    class="inputMat"      formControlName="tiposerv"     #buySellSelect="matSelect"  (ngModelChange)="buscarServicio()">
                                     <mat-option  *ngFor="let tiposervicio of filtrotipoServicio | async" [value]="tiposervicio">
                                        {{tiposervicio.name}}
                                      </mat-option>
                                 </mat-select>
                             </mat-form-field>
                               

                               
                           <mat-form-field>
                               <mat-label>Servicio</mat-label>                                
                               <mat-select class="inputMat"      formControlName="servi"     #buySellSelect="matSelect"  (ngModelChange)="mostrarVista()" >
                                <mat-option  *ngFor="let servicio of filtroservicio | async" [value]="servicio">
                                    {{servicio.name}}
                                  </mat-option>
                               </mat-select>
                           </mat-form-field>
                                
                           
                        </div>
                     </div>
                    </form>
                     <div *ngIf="isShownAsignacion"  id="divshowAsignacion">
                       <app-requerimiento-equipo-asignacion></app-requerimiento-equipo-asignacion>
                    </div>
                 </div>
               
            </div>
        </div>

    </div>
        
    

    </div>

</div>
