<!-- Loading Bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- <main-layouts></main-layouts> -->
<mat-sidenav-container>
    <router-outlet *ngIf="true"></router-outlet>
    <mat-sidenav-content>
        <!-- Contenido -->
        <div class="operaciones-container-MesaCambio">
            <div class="opera-MesaCambio-header-content">
                <span>Operaciones</span>
                <mat-icon class="icon-size-10 icon-bdv-icon-bs-l head-icon-mesa"></mat-icon>
            </div>
            <mat-card class="card-container-opera-MesaCambio">
                <div class="title-opera-MesaCambio">
                    <span>Seleccione Criterios de Búsqueda</span>
                </div>
                <!-- Carga Form -->
                <form class="card-form-opera-MesaCambio" #operacionesForm="ngForm" [formGroup]="operaForm">

                    <div class="field-container">
                        <!-- file  -->
                        <div class=" campos-opera-MesaCambio">
                        <mat-form-field class="w-full field-oper tipo-documento" appearance="outline">
                            <mat-label>Movimiento</mat-label>
                            <mat-select class="agua">
                                <mat-option class="agua"value="null">Seleccione</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>

                       <div class="cedula">
                    <mat-form-field appearance="outline" class="field-oper tipo">
                        <mat-label>Tipo</mat-label>
                        <mat-select class="agua">
                            <mat-option value="V">V</mat-option>
                            <mat-option value="E">E</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="flex-grow-1 input-cedula">
                        <mat-label>Cédula o RIF</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

                <div class=" campos-opera-MesaCambio">

                        <mat-form-field class="w-full field-oper" appearance="outline">
                            <mat-label>Envio BCV</mat-label>
                            <mat-select class="agua">
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full field-oper" appearance="outline">
                            <mat-label>Tipo de Mesa</mat-label>
                            <mat-select class="agua">
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                        <div class=" campos-opera-MesaCambio">

                        <mat-form-field class="w-full field-oper" appearance="outline">
                            <mat-label>Fecha Desde</mat-label>
                            <input matInput [matDatepicker]="picker" readonly>
                            <mat-icon (click)="picker.open()" class="icon-bdv-icon-scheduledit-m date-icon"></mat-icon>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full field-oper" appearance="outline">
                            <mat-label>Fecha Hasta</mat-label>
                            <input matInput [matDatepicker]="picker2" readonly>
                            <mat-icon (click)="picker2.open()" class="icon-bdv-icon-scheduledit-m date-icon"></mat-icon>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        </div>
                    </div>
                </form>

                <div class="buttons-oper">
                    <div class="button-container2-oper">
                        <button class="mat-raised-button" type="submit" form="cargaForm">Procesar</button>
                        <button class="mat-raised-button" type="submit" form="cargaForm">Salir</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>