.title-center {
    margin: 0 auto;
    font-size: 15pt;
    /* Opcional: También puedes agregar text-align: center si es necesario */
    /* text-align: center; */
  }
 
mat-form-field{
    width: 100% !important;
}

