<h2 mat-dialog-title class="title-center">{{mensaje}}</h2>

    <mat-dialog-content class="mat-typography">
            <div class="grid grid-cols-12 gap-4 mt-4 mb-4"  *ngIf="isShownM"  >
                    <div class="col-start-1 col-end-5">
                        <mat-form-field>
                            <mat-label>Motivo</mat-label>                                
                            <mat-select    class="inputMat"  [(ngModel)]="motivos" >
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="motivoFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                    [noEntriesFoundLabel]="'No Encontrado'" >
                                    <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                    [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                                  </mat-option> 
                                <mat-option  *ngFor="let motivo of filtromotivo | async" [value]="motivo">
                                {{motivo.name}}
                                </mat-option>
                            </mat-select>
                           
                        </mat-form-field>
                        <mat-hint class="mat-error" *ngIf="hasError" >
                            Campo <strong>Obligatorio</strong>
                        </mat-hint>
                    </div>
                    
                    <div class="col-end-5  col-start-13">

                        <mat-form-field appearance="fill"class="width100">
                            <mat-label>Observación</mat-label>
                            <input matInput [(ngModel)]="observacion" /> 
        
                        </mat-form-field>
                        <mat-hint class="mat-error" *ngIf="hasErrorOb" >
                            Campo <strong>Obligatorio</strong>
                        </mat-hint>
                    </div>

                  

                </div>

              

                <div class="grid grid-cols-6  gap-2  text-center "   >

                    <div class="col-start-2 col-span-4 text-center" [hidden]="!isShownSU"   id="divshowSU">
                              
                        <mat-form-field appearance="fill"class="width100" [class.mat-form-field-invalid]="hasError">
                            <mat-label>Seleccione el próximo a aprobar</mat-label>
                            <mat-select class="inputMat"      #buySellSelect="matSelect"  [(ngModel)]="codusuarioAprobador">  <!--   -->
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="supervisorFiltrosCtrl"   [placeholderLabel]="'Buscar...'"
                                    [noEntriesFoundLabel]="'No Encontrado'" >
                                    <mat-icon class="mr-1 icon-size-5"    ngxMatSelectSearchClear                                            
                                    [svgIcon]="'heroicons_solid:x'"></mat-icon></ngx-mat-select-search>
                                  </mat-option>
                              <mat-option *ngFor="let supervisor of filtrosupervisor | async" [value]="supervisor" >  <!-- -->
                                {{supervisor.name}} 
                                </mat-option>
                             </mat-select>
                           
                        </mat-form-field>
                        <mat-hint class="mat-error" *ngIf="hasError" >
                            Campo <strong>Obligatorio</strong>
                        </mat-hint>
                 
                </div>


                    <div class="col-start-3 col-span-2" [hidden]="!isShownCO"   id="divshowCO">

                        <mat-form-field appearance="fill"class="width100">
                            <mat-label>Ingresar Código</mat-label>
                            <input matInput   [(ngModel)]="codigo"  > 
                           
                        </mat-form-field>
                        <mat-hint class="mat-error" *ngIf="esValido" >
                            Campo <strong>Obligatorio</strong>
                        </mat-hint>
                    </div>
                

                </div>




 
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent" >Cancelar</button>
  <div   *ngIf="isShownA" >
  <button type="button"  mat-raised-button color="primary" cdkFocusInitial (click)="Aprobar();"  >Enviar</button>
  </div>
  <div   *ngIf="isShownR" >
  <button type="button" mat-raised-button color="warn" cdkFocusInitial  (click)="Rechazar();" >Enviar</button>
</div>
<div   *ngIf="isShownD" >
    <button type="button" mat-raised-button color="primary" cdkFocusInitial  (click)="Devolver();" >Enviar</button>
  </div>
</mat-dialog-actions>

